:root {
  --sol-spacing-2: 2px;
  --sol-spacing-4: 4px;
  --sol-spacing-6: 6px;
  --sol-spacing-8: 8px;
  --sol-spacing-10: 10px;
  --sol-spacing-12: 12px;
  --sol-spacing-14: 14px;
  --sol-spacing-16: 16px;
  --sol-spacing-18: 18px;
  --sol-spacing-20: 20px;
  --sol-spacing-24: 24px;
  --sol-spacing-30: 30px;
  --sol-spacing-36: 36px;
  --sol-spacing-42: 42px;
  --sol-spacing-48: 48px;
  --sol-spacing-56: 56px;
  --sol-spacing-60: 60px;
}
